/docker_datadir
/fontawesome_icons
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.sql
/storage/logs/
dist/
new_frontend/node_modules/
new_frontend/dist/
